<% include ../../partials/head %>

<div class="section-center d-flex align-items-center justify-content-center flex-column content-gestionar">
	
    <div class="title text-center">
		<h1>CATEGORÍAS</h1>
	</div>

	<div class=container>
	
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-fixed display" style="width:100%" id="myTableGestion" cellspacing="0" width="100%">
				
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Genero</th>
					<th scope="col">Descripción</th>
					<th scope="col" class="text-center">Acción</th>
				</tr>
			</thead>

			<tbody>
				<% for(var i=0; i<listCategorias.length; i++) {%>
				<tr>
					<th scope="row"><%= listCategorias[i]['id'] %></th>
					<td><%= listCategorias[i]['nombre'] %></td>
					<td><%= listCategorias[i]['sexo'] %></td>
					<td><%= listCategorias[i]['descripcion'] %></td>
					<td class="d-flex align-items-center justify-content-center">
	                    <a class="btn btn-secondary" href="/gestionar/categoria/modificar/<%= listCategorias[i]['id'] %>">Editar</a>           
	                    <form method="post" action="/gestionar/categoria/eliminar/<%= listCategorias[i]['id'] %>">
	                    	<button type="submit" class="btn btn-secondary" name="delete" onClick="return confirm('¿Quieres eliminar la Categoría?')">Eliminar</button>
	                    </form>

					</td>
				</tr>
				<% } %>
			</tbody>
			</table>
		</div>

		<div class="btn-container text-center">
			<a href="crear" class="btn btn-secondary btn-lg">CREAR</a>
		</div>
	   
    </div>

</div>


<% include ../../partials/foot %>